*
{
    margin: 0;
    padding: 0;
    background-image: url('math2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-family: sans-serif;
    outline: none;
    color:black;
    box-sizing: border-box;
    background-color: #ecf0f3;
}
.container
{
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.calculator
{
    display: grid;
    grid-template-columns: repeat(4,68px);
    padding: 15px;
    border-radius: 30px;
    box-shadow:inset 5px 5px 12px #ffffff,
    5px 5px 12px rgba(0,0,0,.16);
}
input
{
    grid-column: span 4;
    box-shadow:inset -5px -5px 12px #ffffff,
    5px 5px 12px rgba(0,0,0,.16);
    background-color: #ecf0f3;
    height: 70px;
    width:260px;
    margin-top: 30px;
    margin-bottom: 20px;
    border:none;
    border-radius: 30px;
    font-size:55px;
    text-align: end;
    margin: auto;
    padding: 20px;
}
button
{
    height: 48px;
    width: 48px;
    border-radius: 30px;
    box-shadow:inset -5px -5px 12px #ffffff,
    5px 5px 12px rgba(0,0,0,.16);
    background-color: #ecf0f3;
    color:white;
    outline: none;
    border: none;
    margin: 10px;
    font-size: 16px;
}
.equal
{
    box-shadow:inset -5px -5px 12px #ffffff,
    5px 5px 12px rgba(0,0,0,.16);
    width: 115px;
    background-color: #ecf0f3;
    border-radius: 40px;
}